*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}
.home{
    padding:5%;
        background-image: url('https://www.muralswallpaper.com/app/uploads/Blue-Illustrated-Landscape-Mountains-Wallpaper-Mural.jpg');
        background-repeat: no-repeat;
        background-size: cover;

        
    
}

.contentHome{
    display: flex;
    flex-wrap: wrap;
    align-content:space-around;
    justify-content: center;
}
.homenotes{

    padding: 20px;
}
.homenotes h2{
    text-align: center;
    color: rgb(255, 255, 255);
    padding: 20px 0;
}
.homenotes div{
    margin: 10px
}

.projects {
    color: rgb(255, 255, 255);
 
}
.projects h2{
    padding: 20px;
    text-align: center;

}
.projects a{
    color: rgb(63, 63, 63);
}
@media only screen and (max-width: 600px){
    .homenotes{

        padding: 10px;
    }
}
@media only screen and (min-width: 600px) and (max-width: 1000px) {}
@media only screen and (min-width: 1000px) {}
