.projecto{
    border: 2px solid rgba(170, 168, 168, 0.253);
    padding: 20px;
    margin: 10px;
    text-align: left;
}
.projecto .imageproject img {
    width: 100px;
    height: auto;
    
}
.projecto h3, .projecto .imageproject, .projecto p, .projecto button{
    display: inline-block;
    vertical-align: middle;
    padding: 0 10px;
}