
    .date{
        border: 3px solid rgba(168, 167, 167, 0.418);
        padding:20px;
        margin: 20px 0;
        border-radius: 10px;
        background-color: rgba(255, 255, 255, 0.322);
    }
    .titleDate{
        color: rgb(77, 76, 76);
        margin-top: 20px;
    }
    .fecha{
        font-weight: 500;
        display: block;
        margin: 10px 0;
    }
    .date h3{
        font-weight: 500;
        padding: 10px 0
    }

    .eventos{
        text-align: left;
    }
    .eventos div{
        border-bottom: 1px solid rgba(148, 148, 148, 0.459);
        padding:10px 0;
    }

    @media only screen and (min-width: 900px) {
       .date{
           max-width: 600px;
       }
        }