.listBox{
    width: 800px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    
}
.listPage {
    
    background-color: rgba(97, 165, 230, 0.562);
    border: 2px solid rgba(168, 165, 165, 0.664);
    padding: 40px;
    max-width: 200px;
    max-height: 200px;
    color: rgb(255, 255, 255);
}
.listPage button {
    width: 100px;
    margin: 10px;
    color: rgb(17, 117, 175);
    font-weight: bold;
    border: 2px solid rgba(138, 137, 137, 0.562);
    background-color: rgba(255, 255, 255, 0.733);
}
.listPage .list, .listPage button {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}
.listPage h3{
    padding-right: 10px;
    font-size: 12pt;
}
.listPage p{
    font-size: 11pt;
}
.listPage h3,.listPage p{
    display: inline-block;
}