/*Mobile*/
/*Logo o imagen de fondo (logo */
.home{
    margin: 0;
    padding: 0;
    display:block;
    align-items: center;
    align-content:center;
}

/*display formularios al dar click */
.home div{
    padding: 10px;
    margin: 10%;
}


/* Desktop 
.home{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: space-between;
}
.home div{
    padding: 10px;
    margin: 10%;
}*/
