body{
    background-color: rgb(255, 255, 255);
}
.formContainer{
    background-image: url('https://www.muralswallpaper.com/app/uploads/Blue-Illustrated-Landscape-Mountains-Wallpaper-Mural.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    
}

.formBase{
    position: absolute;
    width: 350px;
    padding: 40px;
    background: rgba(249, 250, 248, 0.692);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(168, 166, 166, 0.329);
    border-radius: 10px;
    font-family: 'Noto Sans JP', sans-serif;
}
.formBase label {
    position: relative;
    color: rgb(66, 66, 66);
}
.formBase input{
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    font-weight: 500;
    color: rgb(66, 66, 66);
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

.formBase button {
    border: 1px solid rgba(77, 176, 80, 0.377);
    outline: none;
    color: rgb(148, 147, 147);
    background: #fff;
    margin-bottom: 5%;
    width: 100%;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 13pt;
    font-weight: 400;
}
.formBase button:hover {
    background: #4db050bd;
    color: #fff;
}
.formBase a{
    color: rgba(77, 176, 80, 0.952);
}
.imageTop {
    padding: 5%;
    width: 90%;
}
.imageRes,.imageDis{
    max-width: 600px;
    width: 100%;
    height: auto;
}

@media only screen and (max-width: 400px) {
.formBase{    
    top: 68%;
    left: 50%;
    transform: translate(-50%, -50%);}
.imageDis{
    display: none;
}
}
@media only screen and (min-width: 400px) and (max-width: 1000px) {
    .formBase{    
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);}
    .imageDis{
        display: none;
    }
    }

@media only screen and (min-width: 1000px) {
    .formBase{    
        width: 500px;
        top: 50%;
        right: 5%;
        transform: translate(-50%, -20%);}
    .imageRes{
        display: none;
    }
    .imageDis {
        position: absolute;
        top: 25%;
        left: 10%;
    }
}
